<div class="row" id="scaling">
    <div class="col-md-12" ng-controller="ScalingController">
        <div class="cell">
            <h3>Horizontal Scaling</h3>
            <form class="scaling form-inline" ng-submit="scalingSubmit()">
                <div class="row" ng-repeat="taskType in $parent.taskTypes | filter:{allowScaling:true}">
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon3">{{taskType.type}}</span>
                            <input type="text" class="form-control" aria-describedby="basic-addon3" ng-model="taskType.runningInstances" onFocus="this.blur()">
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="button" ng-click="taskType.runningInstances = taskType.runningInstances+1">+</button>
                                <button class="btn btn-danger" type="button" ng-click="taskType.runningInstances = (taskType.runningInstances > 1 ? taskType.runningInstances-1 : 1)">-</button>
                                <button class="btn btn-default" type="button" ng-click="scale(taskType.type, taskType.runningInstances)">Scale</button>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
            <div class="alert alert-danger" role="alert" ng-show="scaling.result.error">
                {{scaling.result.error}}
            </div>
        </div>
    </div>
</div>