<div class="row">
    <div class="col-md-12">
        <div class="cell">
            <h3>Tasks List</h3>
            <div ng-hide="$parent.tasks.length">
                <p>No tasks running.</p>
            </div>
            <div ng-show="$parent.tasks.length" class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Task ID</th>
                        <th>Name</th>
                        <th>State</th>
                        <th>Hostname</th>
                        <th>IP address</th>
                        <th>Ports</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="task in $parent.tasks track by task.taskId" class="task-list-item">
                        <td>{{task.taskId}}</td>
                        <td>{{task.name}}</td>
                        <td>{{task.runtimeInfo.state}}</td>
                        <td><a href="http://{{task.runtimeInfo.network.hostname}}">{{task.runtimeInfo.network.hostname}}</a></td>
                        <td><a href="http://{{task.runtimeInfo.network.ip}}">{{task.runtimeInfo.network.ip}}</a></td>
                        <td>{{task.runtimeInfo.network.ports}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>